:root {
  --font-family-primary: "Roboto", sans-serif;
  --font-family-secondary: "Raleway", sans-serif;

  --text-h1-size: 56px;
  --text-h1-line-height: 60px;
  --text-h1-letter-spacing: 0.02em;
  --text-h1-weight: 700;

  --text-h2-size: 36px;
  --text-h2-line-height: 40px;
  --text-h2-letter-spacing: 0.02em;
  --text-h2-weight: 700;

  --text-h3-size: 20px;
  --text-h3-line-height: 24px;
  --text-h3-letter-spacing: 0.02em;
  --text-h3-weight: 500;

  --text-body-size: 16px;
  --text-body-line-height: 24px;
  --text-body-letter-spacing: 0.02em;
  --text-body-weight: 400;

  --text-small-size: 12px;
  --text-small-line-height: 14px;
  --text-small-letter-spacing: 0.04em;
  --text-small-weight: 400;

  --text-medium-size: 16px;
  --text-medium-line-height: 24px;
  --text-medium-letter-spacing: 0.02em;
  --text-medium-weight: 500;

  --text-button-size: 16px;
  --text-button-line-height: 24px;
  --text-button-letter-spacing: 0.04em;
  --text-button-weight: 500;

  --text-link-size: 12px;
  --text-link-line-height: 16px;
  --text-link-letter-spacing: 0.04em;
  --text-link-weight: 400;

  --text-logo-size: 18px;
  --text-logo-line-height: 21px;
  --text-logo-letter-spacing: 0.03em;
  --text-logo-weight: 700;

  --color-brand-primary: #4d5ae5;
  --color-brand-pressed: #404bbf;
  --color-dark: #2e2f42;
  --color-success: #31d0aa;
  --color-text: #434455;
  --color-text-subtle: #8e8f99;
  --color-accent: #e7e9fc;
  --color-light: #f4f4fd;
  --color-overlay: #2e2f42;
  --color-hero-background: #2e2f42;
  --color-white: #ffffff;
  --color-modal-background: #fcfcfc;
}

body {
  font-family: var(--font-family-primary);
  line-height: 1.5;
  letter-spacing: var(--text-body-letter-spacing);
  color: var(--color-text);
  background-color: var(--color-white);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

a:hover,
a:focus,
a:active {
  color: var(--color-brand-pressed);
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

h1 {
  font-size: var(--text-h1-size);
  line-height: 1.07;
  letter-spacing: var(--text-h1-letter-spacing);
  font-weight: var(--text-h1-weight);
}

h2 {
  font-size: var(--text-h2-size);
  line-height: 1.11;
  letter-spacing: var(--text-h2-letter-spacing);
  font-weight: var(--text-h2-weight);
}

h3 {
  font-size: var(--text-h3-size);
  line-height: 1.2;
  letter-spacing: var(--text-h3-letter-spacing);
  font-weight: var(--text-h3-weight);
}

p {
  font-size: var(--text-body-size);
  line-height: 1.5;
  letter-spacing: var(--text-body-letter-spacing);
  font-weight: var(--text-body-weight);
}

.page-header {
  background-color: var(--color-accent);
}

.logo-link {
  font-family: var(--font-family-secondary);
  color: var(--color-brand-primary);
  font-size: var(--text-logo-size);
  font-weight: var(--text-logo-weight);
  line-height: 1.17;
  letter-spacing: var(--text-logo-letter-spacing);
  text-transform: uppercase;
}

.logo-accent {
  color: var(--color-dark);
}

.nav-link {
  font-size: var(--text-medium-size);
  line-height: 1.5;
  letter-spacing: var(--text-medium-letter-spacing);
  font-weight: var(--text-medium-weight);
  color: var(--color-dark);
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: var(--color-brand-pressed);
}

.contact-link {
  line-height: 1.5;
  letter-spacing: var(--text-medium-letter-spacing);
}

.hero-section,
.page-footer {
  background-color: var(--color-hero-background);
}

.hero-title {
  color: var(--color-white);
  text-align: center;
}

.hero-button {
  background-color: var(--color-brand-primary);
  color: var(--color-white);
  line-height: 1.5;
  letter-spacing: var(--text-button-letter-spacing);
  font-weight: var(--text-button-weight);
}

.hero-button:hover,
.hero-button:active,
.hero-button:focus {
  background-color: var(--color-brand-pressed);
}

.features-text {
  color: var(--color-text);
}

.portfolio-category {
  color: var(--color-text-subtle);
}

.team-section {
  background-color: var(--color-light);
}

.team-title {
  text-align: center;
  text-transform: capitalize;
  color: var(--color-dark);
}

.team-name {
  color: var(--color-dark);
}

.team-item {
  background-color: var(--color-white);
}

.portfolio-title {
  text-align: center;
  text-transform: capitalize;
}

.portfolio-category {
  color: var(--color-text);
}

.portfolio-title,
.portfolio-name,
.features-subtitle {
  color: var(--color-dark);
}

.page-footer .logo-link .logo-accent {
  color: var(--color-light);
}

.footer-text {
  color: var(--color-light);
}
